 /* Status Dropdown */
 .custom-dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 1px; 
    margin-left: 50px;
  }
  
  .custom-dropdown select {
    background-color: #fff;
    color: #000;
    font-size: 16px;
    padding: 8px;
    height: 40px;
    padding-right: 30px; 
    border: 1px solid rgb(0, 26, 255);
    margin: 0;
    border-radius: 5px;
    text-indent: 0.01px;
    text-overflow: '';
    -webkit-appearance: button; /* hide default arrow in chrome OSX */
  }
  
  .custom-dropdown::before,
  .custom-dropdown::after {
    content: "";
    position: absolute;
    pointer-events: none;
  }
  
  .custom-dropdown::after { 
    content: "\25BC";
    height: 1px;
    font-size: 10px;
    line-height: 1;
    right: 8px;
    top: 20%;
    margin-top: -2px;
  }
  
  .custom-dropdown::before { 
    width: 30px;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0 3px 3px 0;
  }
  
  .custom-dropdown select[disabled] {
    color: rgba(70, 155, 170, 0.3);
  }
  
  .custom-dropdown select[disabled]::after {
    color: rgba(24, 83, 122, 0.1);
  }
  
  .custom-dropdown::before {
    background-color: rgba(34, 133, 158, 0.15);
  }
  
  .custom-dropdown::after {
    color: rgba(24, 145, 129, 0.4);
  }